$color-primario: #E6B28D;
$color-secundario: #F5E6D3;
$acento-1: #9F7248;
$acento-2: #D6A579;
$color-fondo: #FFF4EB;
$texto-principal: #5C5C5C;
$texto-secundario: #8C8C8C;

body {
  background-color: $color-fondo;
  color: $texto-principal;

  h1 {
    color: $color-primario;
  }

  p {
    color: $texto-secundario;
  }
}
